<div class="profetional-section">
    

    <div class="profetional-header">
        <h5>MEET OUR PROFESSIONALS</h5>
        <h1>Search for other doctors</h1>
    </div>

     <div class="profetional-card">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                            <div class="profetional-inner-box">
                                <div class="container">
                                    <div class="p-card-content">
                                    <h3>
                                        Browse <br>by Speciality
                                    </h3>
                                    <ul class="p-card-item">
                                        <li><a href="">Cardiology</a></li>
                                        <li><a href="">Dermatology</a></li>
                                        <li><a href="">Family Medicine</a></li>
                                        <li><a href="">Obstetrics & Gynecology</a></li>
                                        <li><a href="">Oncology</a></li>
                                        <li><a href="">Orthopedic Surgery</a></li>
                                    </ul>
                                    <div class="profetional-button">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    </div>
                                </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="profetional-inner-box">
                            <div class="container">
                                <div class="p-card-content">
                                <h3>
                                    Browse <br>by Condition
                                </h3>
                                <ul class="p-card-item">
                                    <li><a href="">Breast Cancer</a></li>
                                    <li><a href="">Dementia</a></li>
                                    <li><a href="">Endometriosis</a></li>
                                    <li><a href="">Multiple Sclerosis (MS)</a></li>
                                    <li><a href="">Fibromyalgia</a></li>
                                    <li><a href="">Parkinson's Disease</a></li>
                                </ul>
                                <div class="profetional-button">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </div>
                            </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-4">
                    <div class="profetional-inner-box">
                        <div class="container">
                            <div class="p-card-content">
                            <h3>
                                Browse <br>by Procedure
                            </h3>
                            <ul class="p-card-item">
                                <li><a href="">ACL Surgery</a></li>
                                <li><a href="">EEG (Electroencephalogram)</a></li>
                                <li><a href="">Hysterectomy</a></li>
                                <li><a href="">Knee Replacement</a></li>
                                <li><a href="">Multiple Sclerosis Therapy</a></li>
                                <li><a href="">Prostate Removal</a></li>
                            </ul>
                            <div class="profetional-button">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </div>
                        </div>
                        </div>
                    </div>
            </div>
                </div>
            </div>
        </div>
    </div> 


