<section class="footer-section">
    <div class="container">
        <div class="footer-list-item">
            <div class="row">
                <div class="col-md-3 ">
                    <ul class="f-content">
                        <li>
                            <img src="http://azim.commonsupport.com/Docpro/assets/images/footer-logo.png" alt="">
                        </li>
                        <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing .</p>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <ul class="f-content">
                        <h1>about</h1>
                        <li>About Us</li>
                        <li>Listing</li>
                        <li>How It Works</li>
                        <li>Our Services</li>
                        <li>Our Blog</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="f-content">
                        <h1>Useful Links</h1>
                        <li>Specialist</li>
                        <li>Clinic</li>
                        <li>Hospital</li>
                        <li>Download App</li>
                        <li>Join as a Doctor</li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="f-content">
                        <h1>Contacts</h1>
                        <div class="footer-l-icon"><i class="fa fa-map-marker" aria-hidden="true"></i><span>Flat 20,
                                Reynolds
                                Neck, North Helenaville, FV77 8WS</span></div>
                        <div class="footer-r-icon"><i class="fa fa-microphone" aria-hidden="true"></i><a
                                href="+(91)9952123241">+(91)9952123241</a></div>
                        <div class="footer-e-icon"><i class="fa fa-envelope" aria-hidden="true"></i><a
                                href="">info@example.com</a></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>