<div class="row trsrimonials">
    <div class="col-6">
      <img class="img-trsrimonials1" src="	http://azim.commonsupport.com/Docpro/assets/images/shape/shape-2.png" alt="">
    </div>
    <div class="col-6">
      <img class="img-trsrimonials2"
        src="http://azim.commonsupport.com/Docpro/assets/images/background/testimonial-1.jpg " alt="">
    </div>
    <div class="trsrimonials-box">
      <h6>TESTIMONIALS</h6>
      <h1 class="what">What client's say?</h1>
      <p>“ Lorem ipsum dolor sit amet consectetur adipic eksed do eiusmod tempor incid unt labore dolore magna
        Aliqua.enim minim veniam, quis nostrud. “</p>
      <div class="user-img">
        <img src="	http://azim.commonsupport.com/Docpro/assets/images/resource/testimonial-1.png" alt="">
        <p class="p1">Amelia Anna</p>
        <p class="p2">Amelia Anna</p>
      </div>
      <div class="button-img">
        <img src="	http://azim.commonsupport.com/Docpro/assets/images/shape/shape-21.png" alt="">
      </div>
      <button class="left-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
      <button class="right-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
    </div>
  </div>
  