
  <!-- logo img -->
  <div class="logobg">
    <div class="logoname">
      <div><img src="http://azim.commonsupport.com/Docpro/assets/images/clients/clients-logo-1.png" alt=""></div>
      <div><img src="http://azim.commonsupport.com/Docpro/assets/images/clients/clients-logo-2.png" alt=""></div>
      <div><img src="http://azim.commonsupport.com/Docpro/assets/images/clients/clients-logo-3.png" alt=""></div>
      <div><img src="http://azim.commonsupport.com/Docpro/assets/images/clients/clients-logo-4.png" alt=""></div>
      <div><img src="http://azim.commonsupport.com/Docpro/assets/images/clients/clients-logo-5.png" alt=""></div>
      <div><img src="http://azim.commonsupport.com/Docpro/assets/images/clients/clients-logo-1.png" alt=""></div>
  
    </div>
  </div>