<!-- basic information -->
<div class="container">
    <section class="add_list-section">
    
        <div class="basic-i-header">
            <h1>Basic Information</h1>
        </div>
        <form action="" [formGroup]="basicI" >
            <div class="form-content">
                <div class="row">
                    <div class="col">
                        <div class="form-group form_item">
                            <label for="" class="form-label"> First Name:</label>
                        <input type="text" formControlName="firstName" placeholder="enter your name" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group form_item">
                            <label for="" class="form-label"> Last Name:</label>
                        <input type="text" formControlName="lastName" placeholder="enter your name" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group form_item">
                            <label for="" class="form-label">E-mail:</label>
                        <input type="email" formControlName="email" placeholder="enter email" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group form_item">
                            <label for="" class="form-label">Mobile no:</label>
                        <input type="text" formControlName="mobileNo" placeholder="mobile number" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form_item">
                        <label for="" class="form-label">Upload profile picture:</label>
                    <input type="file" formControlName="uploadProfilePicture" placeholder="mobile number" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form_item">
                        <label for="" class="form-label">Brief condition:</label>
                        <textarea formControlName="briefCondition" class="form-control"  rows="3"></textarea>
                    </div>
                </div>
                
            </div>
        </form>
    </section>
</div>

<!-- address -->
<div class="container">
    <section class="add_list-section">
    
        <div class="address-header">
            <h1>Address</h1>
            <a href=""><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
        </div>
        <form action="" [formGroup]="address">
            <div class="form-content">
                <div class="row">
                    <div class="col">
                        <div class="form-group form_item">
                            <label for="" class="form-label">City:</label>
                        <input type="text" formControlName="city" placeholder="enter your City" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group form_item">
                            <label for="" class="form-label">Address:</label>
                        <input type="text" formControlName="address" placeholder="enter your Address" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group form_item">
                            <label for="" class="form-label">State:</label>
                        <input type="email" formControlName="state" placeholder="state" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group form_item">
                            <label for="" class="form-label">Zip code:</label>
                        <input type="text" formControlName="zipCode" placeholder="zip code" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

<!-- Curriculum -->
<div class="container">
    <section class="add_list-section">
    
        <div class="curriculum-header">
            <h1>Curriculum</h1>
            <a href=""><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
        </div>
        <form action="" [formGroup]="curriculum">
            <div class="form-content">
                <div class="row">
                    <div class="form-group form_item">
                        <label for="" class="form-label">Biography:</label>
                        <textarea formControlName="biography" placeholder="enter your name" class="form-control"  rows="4"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

<!-- Social Network Info -->
<div class="container">
    <section class="add_list-section">
    
        <div class="social-n-i-header">
            <h1>Social Network Info</h1>
          
            <!-- <button class="submit-button">save change <i class="fa fa-arrow-right" aria-hidden="true"></i></button> -->
            <a href="" class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
        </div>
        
        <form action="" [formGroup]="socialNI">
            <div class="form-content">
                <div class="row">
                    <div class="col">
                        <div class="form-group form_item">
                            <label for="" class="form-label">Facebook URL:</label>
                        <input type="text" formControlName="facebookUrl"  class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group form_item">
                            <label for="" class="form-label">Twitter URL:</label>
                        <input type="text" formControlName="twitterUrl"  class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group form_item">
                            <label for="" class="form-label">Google Plus URL:</label>
                        <input type="text" formControlName="googleUrl"  class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group form_item">
                            <label for="" class="form-label">Instagram URL:</label>
                        <input type="text" formControlName="instagramUrl"  class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

<!-- pricing -->
<div class="container">
    <section class="add_list-section">
    
        <div class="pricing-header">
            <h1>Pricing</h1>
          
            <!-- <button class="submit-button">save change <i class="fa fa-arrow-right" aria-hidden="true"></i></button> -->
            <a href="" class="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
        </div>
        
        <form action="" [formGroup]="pricing">
            <div class="form-content">
                <div class="row">
                    <div class="col">
                        <div class="form-group form_item">
                            <label for="" class="form-label">Treatment:</label>
                        <input type="text" formControlName="treatment"  class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group form_item">
                            <label for="" class="form-label">PriceL:</label>
                        <input type="text" formControlName="priceL"  class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group form_item">
                            <label for="" class="form-label">Treatment:</label>
                        <input type="text" formControlName="tretment1"  class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group form_item">
                            <label for="" class="form-label">Price:</label>
                        <input type="text" formControlName="price"  class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

<!-- button -->
<div class="change_p-s_button ">
    <button class="submit-button" (click)="submit()">save change <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    <button class="cancle-button">cancle</button>
</div>