<div class="career-section">
    <div class="career-title">
        <h1>Contact</h1>
    </div>
</div>

<div class="container h-s-content">
    <h5><a href="/admin">Home </a></h5>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <h4>Contact</h4>
</div>

<div class="r-background">
    <div class="career-process">
        <h5>INFORMATION</h5>
        <h1>Get In Touch</h1>
        <div class="row">
            <div class="col-sm-3">
                <div class="career-card">
                    <img src="http://azim.commonsupport.com/Docpro/assets/images/icons/icon-20.png" alt="">
                    <h3>Email Address</h3>
                    <h3>info@example.com</h3>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="career-card">
                    <img src="http://azim.commonsupport.com/Docpro/assets/images/icons/icon-21.png" alt="">
                    <h3>Phone Number</h3>
                    <h3>+2(305) 587-3407</h3>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="career-card">
                    <img src="http://azim.commonsupport.com/Docpro/assets/images/icons/icon-22.png" alt="">
                    <h3>Office Address</h3>
                    <h3>214 West Arnold St. New York,
                        NY 10002</h3>
                </div>
            </div>
        </div>
        <div class="career-faq-s">
            <div class="row">
                <div class="col-md-6 caree-contact">
                    <h6>CONTACT</h6>
                    <h1>Contact Us</h1>
                    <div class="row">
                        <div class="col-sm-6">
                            <form>
                                <div>
                                    <input type="text" placeholder="Your Name" class="form-control"
                                        id="exampleInputEmail1" aria-describedby="emailHelp">
                                    <input type="text" placeholder="Phone Number" class="form-control"
                                        id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <form>
                                <div>
                                    <input type="text" placeholder="Your Email" class="form-control"
                                        id="exampleInputEmail1" aria-describedby="emailHelp">
                                    <input type="text" placeholder="Subject " class="form-control"
                                        id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                            </form>
                        </div>
                        <textarea class="form-control" placeholder="Your Message..." id="exampleFormControlTextarea1" rows="3"></textarea>
                        <button  type="button" class="btn btn-primary send">Send Message...<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </div>
                
                    <!-- <form action="">
                        <div class="form-content">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group form_item">
                                    <input type="text" placeholder="enter your name" class="form-control">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group form_item">
                                    <input type="text" placeholder="enter your name" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group form_item">
                                    <input type="email" placeholder="enter email" class="form-control">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group form_item">
                                    <input type="text" placeholder="mobile number" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form_item">
                                    <textarea class="form-control"  rows="3"></textarea>
                                </div>
                            </div>
                            
                        </div>
                    </form> -->
                </div>
                <div class="col-md-6 career-item-text">

                    <img src="https://img.freepik.com/free-vector/contact-concept-landing-page_52683-21298.jpg?t=st=1658551922~exp=1658552522~hmac=5431a9b577556853bee787af1910cd319dd698f2654cefe88c451fd334acf0f7&w=740" alt="">


                </div>
            </div>

        </div>
    </div>

</div>