<section class="appointmen-section">

    <img class="appointmen-img" src="http://azim.commonsupport.com/Docpro/assets/images/shape/shape-14.png" alt="">
    <img class="appointmen-img2" src="	http://azim.commonsupport.com/Docpro/assets/images/shape/shape-13.png" alt="">

    <div class="appointment-card-deck">
      <div class="appointment-cardbg">
        <div class="appointment-carditem">
          <img src="http://azim.commonsupport.com/Docpro/assets/images/icons/icon-1.png" alt="">
          <p>Appointment With</p>
          <h5>Nearest Clinic</h5>
          <button type="button" class="appointment-btn-click"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
      </div>
      
      <div class="appointment-cardbg">
        <div class="appointment-carditem">
          <img src="http://azim.commonsupport.com/Docpro/assets/images/icons/icon-2.png" alt="">
          <p class="appointment-live">Live Chat With</p>
          <h5 class="appointment-doctor">Doctor</h5>
          <button type="button" style="background: #39cabb" class="appointment-btn-click"><i class="fa fa-arrow-right"
              aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="appointment-cardbg">
        <div class="appointment-carditem">
          <img src="http://azim.commonsupport.com/Docpro/assets/images/icons/icon-3.png" alt="">
          <p class="appoinment">Appoinment With Top</p>
          <h5 class="nearest">Nearest Clinic</h5>
          <button type="button" style="background: #ffab01" class="appointment-btn-click"><i class="fa fa-arrow-right"
              aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="appointment-cardbg">
        <div class="appointment-carditem">
          <img src="	http://azim.commonsupport.com/Docpro/assets/images/icons/icon-4.png" alt="">
          <p class="active">24/7 Active Support</p>
          <h5 class="help">Help Support</h5>
          <button type="button" style="background: #01b4d9" class="appointment-btn-click"><i class="fa fa-arrow-right"
              aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    </section>