


<app-patient-navbar></app-patient-navbar>

<div class="side-background">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 side-padding">
                <div class="">
                    <app-patient-sidebar></app-patient-sidebar>
                </div>
            </div>
            <div class="col-md-9 side-padding_col9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<app-p-footer></app-p-footer>
<!-- <app-footer></app-footer> -->
