<!-- MEET OUR PROFESSIONALS -->

<h4 class="meet">MEET OUR PROFESSIONALS</h4>
<h1 class="top">Top Rated Specialists</h1>

<div class="card-deck meet1">
  <div class="meet-box-bg">
    <div class="meet-items">
      <img src="	http://azim.commonsupport.com/Docpro/assets/images/team/team-1.jpg" alt="">
      <h2>Dr. Julia Jhones</h2>
      <h3>MBBS, MS - General Surgery, MCh</h3>
      <p>Lorem ipsum dolor sit amet consectur adipisc elit sed eiusmod tempor.</p>
      <div class="str">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>
      <h4 class="text32">(32)</h4>
      <h5 class="today">Available Today</h5>
      <i class="fa fa-check-circle-o checkicon" aria-hidden="true"></i>
      <i class="fa fa-credit-card cardicon" aria-hidden="true"></i>
      <div class="address">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>G87P, Birmingham, UK</p>
      </div>
    </div>
  </div>
  <div class="meet-box-bg">
    <div class="meet-items">
      <img src="http://azim.commonsupport.com/Docpro/assets/images/team/team-2.jpg" alt="">
      <h2>Dr. Mary Astor
      </h2>
      <h3>MDS - Periodontology and BDS</h3>
      <p>Lorem ipsum dolor sit amet consectur adipisc elit sed eiusmod tempor.</p>
      <div class="str">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>
      <h4 class="text32">(32)</h4>
      <h5 class="today">Available Today</h5>
      <i class="fa fa-check-circle-o checkicon" aria-hidden="true"></i>
      <i class="fa fa-credit-card cardicon" aria-hidden="true"></i>
      <div class="address">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>G87P, Birmingham, UK</p>
      </div>
    </div>
  </div>
</div>

<div class="card-deck meet2">
  <div class="meet-box-bg">
    <div class="meet-items">
      <img src="	http://azim.commonsupport.com/Docpro/assets/images/team/team-3.jpg" alt="">
      <h2>Dr. Rex Allen
      </h2>
      <h3>BDS, MDS - Maxillofacial Surgery</h3>
      <p>Lorem ipsum dolor sit amet consectur adipisc elit sed eiusmod tempor.</p>
      <div class="str">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>
      <h4 class="text32">(32)</h4>
      <h5 class="today">Available Today</h5>
      <i class="fa fa-check-circle-o checkicon" aria-hidden="true"></i>
      <i class="fa fa-credit-card cardicon" aria-hidden="true"></i>
      <div class="address">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>G87P, Birmingham, UK</p>
      </div>
    </div>
  </div>
  <div class="meet-box-bg">
    <div class="meet-items">
      <img src="http://azim.commonsupport.com/Docpro/assets/images/team/team-4.jpg" alt="">
      <h2>Dr. Stella Adler

      </h2>
      <h3>MDS - Periodontology and BDS</h3>
      <p>Lorem ipsum dolor sit amet consectur adipisc elit sed eiusmod tempor.</p>
      <div class="str">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>
      <h4 class="text32">(32)</h4>
      <h5 class="today">Available Today</h5>
      <i class="fa fa-check-circle-o checkicon" aria-hidden="true"></i>
      <i class="fa fa-credit-card cardicon" aria-hidden="true"></i>
      <div class="address">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>G87P, Birmingham, UK</p>
      </div>
    </div>
  </div>
</div>
