@import "/src/styles.scss";


.add_list-section {

    @include list_section;

    .form-content {
        max-width: 50%;
    }
    

    .change_p-header {
        padding: 30px;
        border-bottom: 2px solid #e5e7ec;

        h1 {
            font-size: 30px;
            font-weight: 700;
            color: #00224f;

        }
    }

    

        .change_p-s_button {
            .submit-button {
                @include submit-b
            }
            .cancle-button{
               @include cancle-b  
              }
           
        }
    
}