<section class="sidebar-section">
    <div class="sidebar-box">
        <div class="sidebar-header">
            <div class="sidebar-imagebox">
                <img src="	http://azim.commonsupport.com/Docpro/assets/images/resource/profile-2.png" alt="">
            </div>
        </div>
        <div class="sidebar-listbox">
            <div class="sidebar_c-box">
                <div class="sidebar_content">
                    <h1>Dr. Rex Allen</h1>
                    <p>MDS - Periodontology</p>
                </div>
            </div>
            <ul class="sidebar-list-item">
                <li routerLink="dashbord" routerLinkActive='active'><a ><i class="fa fa-tachometer" aria-hidden="true"></i>Dashbord</a></li>
                <li routerLink="appointment" routerLinkActive="active"><a ><i class="fa  fa-calendar" aria-hidden="true"></i>Appointment</a></li>
                <li routerLink="my-patient" routerLinkActive='active'><a ><i class="fa fa-wheelchair" aria-hidden="true"></i>MyPatient</a></li>
                <li routerLink="add-listing" routerLinkActive='active'><a ><i class="fa fa-plus-circle" aria-hidden="true"></i>AddListing</a></li>
                <li routerLink="shedule-timing" routerLinkActive='active'><a ><i class="fa fa-clock-o" aria-hidden="true"></i>SheduleTiming</a></li>
                <li routerLink="reviews" routerLinkActive='active'><a ><i class="fa fa-star" aria-hidden="true"></i>Reviews</a></li>
                <!-- <li><a routerLink="" routerLinkActive="active"><i class="fa fa-comments"aria-hidden="true"></i>Message</a></li> -->
                <li routerLink="my-profile" routerLinkActive='active'><a ><i class="fa fa-user" aria-hidden="true"></i>MyProfile</a></li>
                <li routerLink="change-password" [routerLinkActive]="['active']"><a ><i class="fa fa-unlock-alt"aria-hidden="true"></i>Change Password</a></li>
                <li routerLink="/login" routerLinkActive='active'><a ><i class="fa fa-sign-out"aria-hidden="true"></i>Logout</a></li>
            </ul>
        </div>
    </div>
</section>

