//  aap Download 
.app-bg {
  background: url(http://azim.commonsupport.com/Docpro/assets/images/shape/shape-17.png) no-repeat 7% 100%,
    url(http://azim.commonsupport.com/Docpro/assets/images/shape/shape-19.png)no-repeat 90% 0%,
     #453f85;
  width: 100%;
  height: 614px;
  }

  .image-box{
    position: relative;
    top: 100px;
    left: 60px;
  }


.d-app-name{
  margin: 130px 0 0 0;
}

.downloadapp {
  color: #71d0cc;
  font-size: 23px;
  font-weight: 800;
}

.for {
  
  font-size: 4pc;
  color: white;
  font-weight: 700;
}

.mobil {
  
  font-size: 3pc;
  color: white;
  font-weight: 700;
}

.app-button {
  background-color: #39cabb;
  border-color: #39cabb;
  border-radius: 44px;
  display: flex;
  padding: 10px 20px 10px 20px;
  max-width: 45%;
  font-weight: 800;
  font-size: 21px;
  font-weight: 500;

  i {
    font-size: 72px;
    color: white;
  }

  .button{
    padding: 0 0 0 20px;

  }
}

.app-button1 {
  background-color: #fe5948;
   border-color: #fe5948;
  border-radius: 44px;
  display: flex;
  padding: 10px 20px 10px 20px;
  max-width: 50%;
    font-weight: 800;
  font-size: 21px;
  font-weight: 500;

  i {
    font-size: 72px;
    color: white;
  }

  .button{
    padding: 0 0 0 20px;

  }
}

.downloadon {
  font-size: 17px;
  color: white;
  bottom: 63px;
  font-weight: 700;
}

.apppstroe {
  font-size: 31px;
  color: white;
  font-weight: 700;
}

.downloadon1 {
  font-size: 17px;
  color: white;
  bottom: 63px;
  font-weight: 700;
}

.apppstroe1 {
  font-size: 31px;
  color: white;
  font-weight: 700;
}


.button-box{
  display: flex;
  justify-content: space-between;
  margin: 86px 0 0 0;


}
