

  <router-outlet></router-outlet>
  <app-navbar-docpro></app-navbar-docpro>
  <!-- <button class="btn btn-secondary" routerLink="/">doctor-dashbord  </button>
  <button class="btn btn-secondary" routerLink="/patient-dashbord">patient-dashbord  </button>  -->
  <app-find-nearestdr-docpro></app-find-nearestdr-docpro>
  <app-all-logopage-docpro></app-all-logopage-docpro>
  <app-appointment-docpro></app-appointment-docpro>  
  <app-process-docpro></app-process-docpro>
  <app-testimonials></app-testimonials>
  <!-- <app-t-r-specialist></app-t-r-specialist> -->
  <app-meet-profetional-docpro></app-meet-profetional-docpro>
  <app-about-docpro></app-about-docpro>
  <app-download-app></app-download-app>
  <app-footer></app-footer>

