@import "/src/styles.scss";


.add_list-section {
    @include list_section;
    // background: #fff;
    // width: 100%;
    // margin: 30px 30px 30px 0px;
    // border-radius: 20px;


    .change_p-header {
        padding: 30px;
        border-bottom: 2px solid #e5e7ec;

        h1 {
            font-size: 30px;
            font-weight: 700;
            color: #00224f;

        }
    }

    // .form-content {
    //     padding: 30px;
    //     max-width: 50%;

    //     .form_item{
    //         margin-bottom: 30px;
    //     }

        .change_p-s_button {
            .submit-button {
                @include submit-b
            }
            .cancle-button{
               @include cancle-b  
              }
           
        }
    // }
}