<div class="container">
    <section class="add_list-section">
    
        <div class="change_p-header">
            <h1>Change Password</h1>
        </div>
        <form action="">
            <div class="form-content">
                <div class="form-group form_item">
                    <label for="" class="form-label"> Old Password</label>
                <input type="password" class="form-control">
                </div>
                <div class="form-group form_item" >
                    <label for="" class="form-label"> New Password</label>
                <input type="password" class="form-control">
                </div>
                <div class="form-group  form_item">
                    <label for="" class="form-label"> Conform Password</label>
                <input type="password" class="form-control">
                </div>
                <div class="change_p-s_button ">
                    <button class="submit-button">save change <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    <button class="cancle-button">cancle</button>
                </div>    
            </div>
        </form>
    </section>
</div>
