<div class="career-section">
    <div class="career-title">
        <h1>How It Works</h1>
    </div>
</div>

<div class="container h-s-content">
    <h5><a href="/admin">Home </a></h5>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <h4>How It Works</h4>
</div>

<div class="r-background">
    <div class="career-process">
        <h5>PROCESS</h5>
        <h1>Appointment Process</h1>
        <div class="row">
            <div class="col-sm-3">
                <div class="career-card">
                    <img src="http://azim.commonsupport.com/Docpro/assets/images/icons/icon-9.png" alt="">
                    <h3>Search Best Online Professional</h3>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="career-card">
                    <img src="http://azim.commonsupport.com/Docpro/assets/images/icons/icon-10.png" alt="">
                    <h3>View Professional Profile</h3>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="career-card">
                    <img src="http://azim.commonsupport.com/Docpro/assets/images/icons/icon-11.png" alt="">
                    <h3>Get Instant Doctor Appoinment</h3>
                </div>
            </div>
        </div>
        <div class="career-faq-s">
            <div class="row">
                <div class="col-md-6">
                    <img src="	http://azim.commonsupport.com/Docpro/assets/images/resource/faq-1.png" alt="">
                </div>
                <div class="col-md-6 career-item-text">
                    <div class="career-item-h2">
                        <p>FAQ’S</p>
                        <h2>Frequently Asked Questions.</h2>
                        <button class="btn career-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                        Do doctors pay for good reviews?<i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    </div>


                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            Lorem ipsum dolor sit amet consectur adipiscing elit eiusmod tempor incididunt labore dolore
                            magna aliquaenim ad minim veniam quis nostrud exercitation ullamco laboris.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>