<div class="doctor-section">
    <div class="doctor-title">
        <h1>Doctor Details</h1>
    </div>
</div>

<div class="container h-s-content">
    <h5><a href="/admin">Home </a></h5>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <h4>Doctor Details</h4>
</div>

<div class="d-background">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="doctor-box">
                    <div class="d-content-box">
                        <div class="full-content">
                            <div class="image-box">
                                <img src="	http://azim.commonsupport.com/Docpro/assets/images/team/team-1.jpg" alt="">
                            </div>
                            <div class="item-box">
                                <div class="f-content-box">
                                    <div class="title">
                                        <div class="title-name">
                                            <h3>Dr. Julia Jhones </h3>
                                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="d-icon">

                                        </div>
                                    </div>
                                    <p>BDS, MDS - Oral & Maxillofacial Surgery</p>
                                    <div class="star-icon">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <span>(32)</span>
                                    </div>
                                    <div>
                                        <p>Lorem ipsum dolor sit amet consectur adipisc eiusmod tempor incididunt.</p>
                                    </div>
                                    <div class="location">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>G87P, Birmingham, UK</span>
                                    </div>
                                    <div class="number">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>+(22) 65_458_856</span>
                                    </div>
                                    <div class="available">
                                        <p>24/7 Available</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- overview page -->
                <div class="overview-fullbox">
                    <div class="doctor-box">
                        <div class="header">
                            <h2>overview</h2>

                        </div>
                        <div class="d-content-box">
                            <div class="overview-content">
                                <div class="o-content">
                                    <h1>About Dr. Agnes Ayres:</h1>
                                    <p>Dr. Agnes Ayres is a Maxillofacial Surgeon in New York, NY.
                                        Dr. Ayres has more experience with Congenital Cardiac Disorders and Cardiac Care
                                        than other specialists
                                        in his area. He is affiliated with medical facilities such as Mount Sinai
                                        Morningside and Roosevelt Hospital.
                                        He is accepting new patients. Be sure to call ahead with Dr. Pinney to book an
                                        appointment.</p>
                                </div>
                                <div class="o-content">
                                    <h1>Specialities</h1>
                                    <p>Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet
                                        vel,
                                        dapibus id, mattis vel, nisi. Nullam mollis. Phasellus hendrerit. Pellentesque
                                        aliquet nibh nec urna. In nisi neque, aliquet vel, dapi.</p>
                                </div>
                                <div class="o-content">
                                    <ul>
                                        <li><a href="">Cardiology</a></li>
                                        <li><a href="">Dermatology</a></li>
                                        <li><a href="">Family Medicine</a></li>
                                        <li><a href="">Obstetrics & Gynecology</a></li>
                                        <li><a href="">Oncology</a></li>
                                        <li><a href="">Orthopedic Surgery</a></li>
                                    </ul>
                                </div>
                                <div class="o-content">
                                    <h1>Educational Background</h1>
                                    <p>Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet
                                        vel,
                                        dapibus id, mattis vel, nisi. Nullam mollis. Phasellus hendrerit. Pellentesque
                                        aliquet nibh nec urna. In nisi neque, aliquet vel, dapi.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Experience -->
                <div class="overview-fullbox">
                    <div class="doctor-box">
                        <div class="header">
                            <h2>Experience</h2>

                        </div>
                        <div class="d-content-box">
                            <div class="overview-content">
                                <div class="o-content">
                                    <h1>Professional Experience</h1>
                                    <p>Dr. Agnes Ayres is a Maxillofacial Surgeon in New York, NY. Dr. Ayres has more
                                        experience with Congenital Cardiac Disorders and Cardiac Care than other
                                        specialists in his area. He is affiliated with medical facilities.</p>
                                </div>
                                <div class="o-content">
                                    <h1>Key Skill</h1>
                                    <ul>
                                        <li>Cardiology</li>
                                        <li>Dermatology</li>
                                        <li>Family Medicine</li>
                                        <li>Obstetrics & Gynecology</li>
                                        <li>Oncology</li>
                                        <li>Orthopedic Surgery</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- location -->
                <div class="overview-fullbox">
                    <div class="doctor-box">
                        <div class="header">
                            <h2>Location</h2>

                        </div>
                        <div class="d-content-box">
                            <div class="overview-content">
                                <div class="o-content">
                                    <h1>Location:</h1>

                                </div>
                                <div class="o-content">
                                    <h1>New Apollo Hospital:</h1>
                                    <div class="location">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>369 San Miguel Dr Ste 200 Newport
                                            Beach,CA,92660</span>
                                    </div>
                                    <div class="number">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>+(22) 65_458_856</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="doctor-box">
                    <div class="header">
                        <h2>Book Appointment</h2>
                        <p>Monday to Friday: 09:00Am-05:00PM</p>
                    </div>
                    <div class="d-content-box">
                        <form action="" [formGroup]="bookingAppointment">
                            <div class="form-content">
                                <div class="form-group form_item">
                                    <input type="date" formControlName="date" class="form-control">
                                </div>

                                <div class="form-group form_item">
                                    <input type="time" formControlName="time" class="form-control" name="">
                                </div>
                            </div>
                            <div class="form-content-1">
                                <h3>Chose Service</h3>
                                <p-multiSelect [options]="services" formControlName="services"
                                    defaultLabel="Select a Service" optionLabel="name" display="chip"></p-multiSelect>
                                <!-- <div class="cheak-box form_item">
                                <div class="form-check ">
                                    <input type="checkbox" formControlName="newPatientVisit" class="form-check-input">
                                    <label class="form-check-label">New Patient Visit <span>$40</span></label>
                                </div>
                            </div>           
                            <div class="cheak-box form_item">
                                <div class="form-check ">
                                    <input type="checkbox" formControlName="generalConsultation" class="form-check-input">
                                    <label class="form-check-label">General Consultation <span>$50</span></label>
                                </div>
                            </div>
                            <div class="cheak-box form_item">
                                <div class="form-check " >
                                    <input type="checkbox" formControlName="backPain" class="form-check-input">
                                    <label class="form-check-label">Back Pain <span>$60</span></label>
                                </div>
                            </div>
                            <div class="cheak-box form_item">
                                <div class="form-check" >
                                    <input type="checkbox" formControlName="diabetesConsultation" class="form-check-input">
                                    <label class="form-check-label">Diabetes Consultation <span>$35</span></label>
                                </div>
                            </div> -->
                                <div class="book-a-button">
                                    <button (click)="submit()">Book Appointment <i class="fa fa-arrow-right"
                                            aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>