<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-image ">
                   
                    <img src="http://azim.commonsupport.com/Docpro/assets/images/resource/about-1.png" alt=""/>
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="about-name-content">
                    <div class="about-name">
                        <h5>ABOUT DOCPRO</h5>
                        <h1>Bring care to your home with one click</h1>
                        <div class="about-text">
                            <p>Lorem ipsum dolor sit amet consectur adipiscing elit sed eiusmod ex tempor incididunt
                                labore dolore magna aliquaenim ad minim veniam quis nostrud exercitation ullamco
                                laboris.</p>
                        </div>
                        <ul class="about-li-style">
                            <li>Associates Insurance</li>
                            <li>Pina & Insurance</li>
                        </ul>
                        <div class="about-button">
                            <button>About Us &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
