<div class="bgbox">
    <div class="d-p-box">
      <img class="img" src="http://azim.commonsupport.com/Docpro/assets/images/shape/shape-1.png" alt="">
    </div>
    <img class="d-p-image" src="http://azim.commonsupport.com/Docpro/assets/images/logo.png" alt="">
  
  </div>
  <div class="button">
    <div class="dropdown">
      <button routerLink="/admin" class="dropbtn">Home</button>
      <div class="dropdown-content">
        <!-- <a href="">Home 01</a> -->
      </div>
    </div>
  </div>
  <div class="button">
    <div class="dropdown">
      <button routerLink="/doctor-dashbord/dashbord" class="dropbtndoctors">Doctors</button>
      <div class="dropdown-content doctors">
        <a href="/doctor-dashbord/dashbord">Doctor Dashbord</a>
        <a routerLink="dr-julia-jhones">Dr. Julia Jhones</a>
        <a routerLink="dr-mary-astor">Dr. Mary Astor</a>
        <a routerLink="dr-rex-allen">Dr. Rex. Allen</a>
        <a routerLink="dr-stela-adler">Dr. Stella Adler</a>
        <a href="/register">Register Page</a>
      </div>
    </div>
  </div>
  <div class="button">
    <div class="dropdown">
      <button routerLink="/patient-dashbord/p-dashbord" class="dropbtnPatients">Patients</button>
      <div class="dropdown-content Patients">
        <a href="/patient-dashbord/p-dashbord">Pateint Dashbord</a>
        <a routerLink="p-submit-review">Submit Review</a>
        <!-- <a routerLink="p-book-appointment">Book Appointment</a> -->
      </div>
    </div> 
  </div>
  <div class="button">
    <div class="dropdown">
      <button routerLink="blog" class="dropbtnnew">News</button>
      <div class="dropdown-content news">
        <a routerLink="blog">Biog Grid 01</a>
        <a routerLink="blog-standard">blog-standard</a>
  
      </div>
    </div>
  
  </div>
   
  <button type="button" routerLink="/register" class="btn btn-primary joinnow"><i class="fa fa-plus" aria-hidden="true"></i>Join Now</button>
  
  <div class="boutton">
    <button type="button" routerLink="/login" class="btn btn-light sign">Log-Out</button>
    <button type="button" routerLink="career" class="btn btn-light Career">Career</button>
    <button type="button" routerLink="contact" class="btn btn-light Contact">Contact</button>
  </div>
