<section class="sidebar-section">
    <div class="sidebar-box">
        <div class="sidebar-header">
            <div class="sidebar-imagebox">
                <img src="http://azim.commonsupport.com/Docpro/assets/images/resource/profile-1.png" alt="">
            </div>
        </div>
        <div class="sidebar-listbox">
            <div class="sidebar_c-box">
                <div class="sidebar_content">
                    <h1>Samuel Daniels</h1>
                    <p> Oct 05, 2083, 38 Years</p>
                </div>
            </div>
            <ul class="sidebar-list-item">
                <li routerLink="p-dashbord" routerLinkActive='active'><a ><i class="fa fa-tachometer" aria-hidden="true"></i>Dashbord</a></li>
                <li routerLink="p-favourite-doctor" routerLinkActive="active"><a ><i class="fa fa-heart" aria-hidden="true"></i>Favourite Doctor</a></li>
                <li routerLink="patient-shedule-timing" routerLinkActive='active'><a ><i class="fa fa-clock-o" aria-hidden="true"></i>SheduleTiming</a></li>
                <li routerLink="patient-my-profile" routerLinkActive='active'><a ><i class="fa fa-user" aria-hidden="true"></i>MyProfile</a></li>
                <li routerLink="patient-change-password" [routerLinkActive]="['active']"><a ><i class="fa fa-unlock-alt"aria-hidden="true"></i>Change Password</a></li>
                <li routerLink="/login" routerLinkActive='active'><a ><i class="fa fa-sign-out"aria-hidden="true"></i>Logout</a></li>
            </ul>
        </div>
    </div>
</section>


