

<!-- Doctor-Shedule -->
<div class="container">
    <section class="add_list-section">

        <div class="dr-shedule-header">
            <h1>Doctor Schedule</h1>
            <a href=""><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
        </div>
        <div class="form-content">
             <!-- Doctor Schedule -->
    <div class="doctor-schedule">
        <div class="container">
            <!-- <button (click)="toggleWeekends()">toggle weekends</button> -->
            <full-calendar  [options]="calendarOptions"></full-calendar>
        </div>
    </div>
        </div>
    </section>
</div>