<div class="login-section">
    <div class="login-h-icon">
        <h1>Doctor Login</h1>
        
    </div>
    
</div>
<form  [formGroup]="loginForm" >
   <div class="login-background">
    <div class="login-box">
        <div class="title-box"  *ngFor="let item of getData">
            <h2> {{item.drName}} </h2>
        </div>
            <div class="content-item">
                <div class="username mb-2">
                    <label class="form-label">username:</label>
                    <input type="text" class="form-control"  (change)="method_username($event)" placeholder="Enter username...">
                </div>
                <div class="password ">
                    <label class="form-label">password:</label>
                    <input type="text" class="form-control" (change)="method_password($event)" placeholder="Enter password...">
                </div>
            </div>
            <div class="button">
                <button (click)="submit()" class="btn btn-success Login">Login Now</button>
            </div>
            <!-- <div class="p-d-button">
                <button routerLink="/register" class="btn btn-primary Facebook ">Go To Signup Page.. </button>
                <button  class="btn btn-danger google ">forgot-password</button>
            </div>            -->
        </div>
    </div>
</form>